{"swagger":"2.0","info":{"title":"Default title","description":"","version":"1.0"},"host":"api.powerbi.com","basePath":"/v1.0/myorg/","schemes":["https"],"consumes":[],"produces":[],"paths":{"/groups":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"@odata.context":{"type":"string","description":"@odata.context"},"@odata.count":{"type":"integer","format":"int32","description":"@odata.count"},"value":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"id"},"isReadOnly":{"type":"boolean","description":"isReadOnly"},"isOnDedicatedCapacity":{"type":"boolean","description":"isOnDedicatedCapacity"},"capacityId":{"type":"string","description":"capacityId"},"type":{"type":"string","description":"type"},"name":{"type":"string","description":"name"}}},"description":"value"}}}}},"summary":"Get Workspaces","description":"Get Workspaces","operationId":"GetWorkspaces","parameters":[{"name":"$filter","in":"query","required":false,"type":"string"},{"name":"$top","in":"query","required":false,"type":"integer","default":100},{"name":"$skip","in":"query","required":false,"type":"string"}]}},"/groups/{WorkspaceId}/reports/{ReportId}":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"datasetId":{"type":"string","description":"datasetId"},"id":{"type":"string","description":"id"},"name":{"type":"string","description":"name"},"webUrl":{"type":"string","description":"webUrl"},"embedUrl":{"type":"string","description":"embedUrl"}}}}},"summary":"Get Report In Group","description":"Get Report In Group","operationId":"GetReportInGroup","parameters":[{"name":"WorkspaceId","in":"path","required":true,"type":"string"},{"name":"ReportId","in":"path","required":true,"type":"string"}]}},"/groups/{WorkspaceId}/reports":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"@odata.context":{"type":"string","description":"@odata.context"},"value":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"id"},"reportType":{"type":"string","description":"reportType"},"name":{"type":"string","description":"name"},"webUrl":{"type":"string","description":"webUrl"},"embedUrl":{"type":"string","description":"embedUrl"},"isFromPbix":{"type":"boolean","description":"isFromPbix"},"isOwnedByMe":{"type":"boolean","description":"isOwnedByMe"},"datasetId":{"type":"string","description":"datasetId"},"datasetWorkspaceId":{"type":"string","description":"datasetWorkspaceId"},"users":{"type":"array","items":{},"description":"users"},"subscriptions":{"type":"array","items":{},"description":"subscriptions"}}},"description":"value"}}}}},"summary":"Get Reports In Group","description":"Get Reports In Group","operationId":"GetReportsInGroup","parameters":[{"name":"WorkspaceId","in":"path","required":true,"type":"string"}]}},"/groups/{WorkspaceId}/reports/{ReportId}/pages":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"@odata.context":{"type":"string","description":"@odata.context"},"value":{"type":"array","items":{"type":"object","properties":{"Name":{"type":"string","description":"Name"},"displayName":{"type":"string","description":"displayName"},"order":{"type":"integer","format":"int32","description":"order"}}},"description":"value"}}}}},"summary":"Get Pages In Report","description":"Get Pages In Report","operationId":"GetPagesInReport","parameters":[{"name":"WorkspaceId","in":"path","required":true,"type":"string"},{"name":"ReportId","in":"path","required":true,"type":"string"}]}},"/GET https://api.powerbi.com/v1.0/myorg/reports/{ReportId}/pages/{PageName}":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"Name":{"type":"string","description":"Name"},"displayName":{"type":"string","description":"displayName"},"order":{"type":"integer","format":"int32","description":"order"}}}}},"summary":"Get Page In Report","description":"Get Page In Report","operationId":"GetPageInReport","parameters":[{"name":"ReportId","in":"path","required":true,"type":"string"},{"name":"PageName","in":"path","required":true,"type":"string"}]}}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{"undefined":{"type":"oauth2","flow":"accessCode","authorizationUrl":"https://login.windows.net/common/oauth2/authorize","tokenUrl":"https://login.windows.net/common/oauth2/authorize","scopes":{"Content.Create Dashboard.ReadWrite.All Report.ReadWrite.All Dataset.ReadWrite.All Dataflow.ReadWrite.All Workspace.ReadWrite.All Capacity.ReadWrite.All Gateway.ReadWrite.All StorageAccount.ReadWrite.All":"Content.Create Dashboard.ReadWrite.All Report.ReadWrite.All Dataset.ReadWrite.All Dataflow.ReadWrite.All Workspace.ReadWrite.All Capacity.ReadWrite.All Gateway.ReadWrite.All StorageAccount.ReadWrite.All"}}},"security":[{"undefined":["Content.Create Dashboard.ReadWrite.All Report.ReadWrite.All Dataset.ReadWrite.All Dataflow.ReadWrite.All Workspace.ReadWrite.All Capacity.ReadWrite.All Gateway.ReadWrite.All StorageAccount.ReadWrite.All"]}],"tags":[]}