{"swagger":"2.0","info":{"title":"PowerBiApi","description":"A sample custom connector demonstrating how to call Power BI REST API.","version":"1.0"},"host":"api.powerbi.com","basePath":"/v1.0/myorg/","schemes":["https"],"consumes":[],"produces":[],"paths":{"/v1.0/myorg/groups":{},"/groups/{workspaceId}/datasets":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"value":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"id"},"name":{"type":"string","description":"name"},"addRowsAPIEnabled":{"type":"boolean","description":"addRowsAPIEnabled"},"configuredBy":{"type":"string","description":"configuredBy"},"isRefreshable":{"type":"boolean","description":"isRefreshable"},"isEffectiveIdentityRequired":{"type":"boolean","description":"isEffectiveIdentityRequired"},"isEffectiveIdentityRolesRequired":{"type":"boolean","description":"isEffectiveIdentityRolesRequired"},"isOnPremGatewayRequired":{"type":"boolean","description":"isOnPremGatewayRequired"},"targetStorageMode":{"type":"string","description":"targetStorageMode"},"createReportEmbedURL":{"type":"string","description":"createReportEmbedURL"},"qnaEmbedURL":{"type":"string","description":"qnaEmbedURL"},"upstreamDatasets":{"type":"array","items":{},"description":"upstreamDatasets"},"schemaMayNotBeUpToDate":{"type":"boolean","description":"schemaMayNotBeUpToDate"},"users":{"type":"array","items":{},"description":"users"}}},"description":"value"}}}}},"summary":"Get Datasets In Workspace","operationId":"GetDatasetsInWorkspace","description":"Action to Get Datasets In Workspace","parameters":[{"name":"workspaceId","in":"path","required":true,"type":"string"}]}},"/groups":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"@odata.context":{"type":"string","description":"@odata.context"},"@odata.count":{"type":"integer","format":"int32","description":"@odata.count"},"value":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"id"},"isReadOnly":{"type":"boolean","description":"isReadOnly"},"isOnDedicatedCapacity":{"type":"boolean","description":"isOnDedicatedCapacity"},"capacityId":{"type":"string","description":"capacityId"},"type":{"type":"string","description":"type"},"name":{"type":"string","description":"name"}}},"description":"value"}}}}},"summary":"Get Workspaces","description":"Get Power BI Workspaces (v2)","operationId":"GetWorkspaces","parameters":[]}},"/groups/{WorkspaceId}/reports":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"value":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"id"},"reportType":{"type":"string","description":"reportType"},"name":{"type":"string","description":"name"},"webUrl":{"type":"string","description":"webUrl"},"embedUrl":{"type":"string","description":"embedUrl"},"isFromPbix":{"type":"boolean","description":"isFromPbix"},"isOwnedByMe":{"type":"boolean","description":"isOwnedByMe"},"datasetId":{"type":"string","description":"datasetId"},"datasetWorkspaceId":{"type":"string","description":"datasetWorkspaceId"},"users":{"type":"array","items":{},"description":"users"}}},"description":"value"}}}}},"summary":"Get Reports in Workspace","description":"Get Report in Workspace","operationId":"GetReportsInWorkspace","parameters":[{"name":"WorkspaceId","in":"path","required":true,"type":"string"}]}}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{"undefined":{"type":"oauth2","flow":"accessCode","authorizationUrl":"https://login.windows.net/common/oauth2/authorize","tokenUrl":"https://login.windows.net/common/oauth2/authorize","scopes":{}}},"security":[{"undefined":[]}],"tags":[]}